In [1]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('ecommerce_customer_data.CSV')

In [31]:
df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,31,Female,0
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,31,Female,0
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,31,Female,0
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,31,Female,0
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,31,Female,0

In [33]:
df.describe()

,Customer ID,Product Price,Quantity,Total Purchase Amount,Customer Age,Returns,Age,Churn
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,202618.000000,250000.000000,250000.00000
mean,25017.632092,254.742724,3.004936,2725.385196,43.798276,0.500824,43.798276,0.20052
std,14412.515718,141.738104,1.414737,1442.576095,15.364915,0.500001,15.364915,0.40039
min,1.000000,10.000000,1.000000,100.000000,18.000000,0.000000,18.000000,0.00000
25%,12590.000000,132.000000,2.000000,1476.000000,30.000000,0.000000,30.000000,0.00000
50%,25011.000000,255.000000,3.000000,2725.000000,44.000000,1.000000,44.000000,0.00000
75%,37441.250000,377.000000,4.000000,3975.000000,57.000000,1.000000,57.000000,0.00000
max,50000.000000,500.000000,5.000000,5350.000000,70.000000,1.000000,70.000000,1.00000

In [35]:
df.isnull().sum()

Customer ID                  0
Purchase Date                0
Product Category             0
Product Price                0
Quantity                     0
Total Purchase Amount        0
Payment Method               0
Customer Age                 0
Returns                  47382
Customer Name                0
Age                          0
Gender                       0
Churn                        0
dtype: int64

In [37]:
df.count

<bound method DataFrame.count of         Customer ID        Purchase Date Product Category  Product Price  \
0             44605  2023-05-03 21:30:02             Home            177
1             44605  2021-05-16 13:57:44      Electronics            174
2             44605  2020-07-13 06:16:57            Books            413
3             44605  2023-01-17 13:14:36      Electronics            396
4             44605  2021-05-01 11:29:27            Books            259
...             ...                  ...              ...            ...
249995        33807  2023-01-24 12:32:18             Home            436
249996        20455  2021-06-04 05:45:25      Electronics            233
249997        28055  2022-11-10 17:11:57      Electronics            441
249998        15023  2021-06-27 14:42:12      Electronics             44
249999         4148  2020-09-07 05:12:19             Home            307

        Quantity  Total Purchase Amount Payment Method  Customer Age  Returns  \
0              1                   2427         PayPal            31      1.0
1              3                   2448         PayPal            31      1.0
2              1                   2345    Credit Card            31      1.0
3              3                    937           Cash            31      0.0
4              4                   2598         PayPal            31      1.0
...          ...                    ...            ...           ...      ...
249995         1                   3664           Cash            63      0.0
249996         1                   4374    Credit Card            66      1.0
249997         5                   5296           Cash            63      NaN
249998         2                   2517           Cash            64      1.0
249999         5                   3634           Cash            32      0.0

            Customer Name  Age  Gender  Churn
0             John Rivera   31  Female      0
1             John Rivera   31  Female      0
2             John Rivera   31  Female      0
3             John Rivera   31  Female      0
4             John Rivera   31  Female      0
...                   ...  ...     ...    ...
249995   Gabriel Williams   63    Male      0
249996       Barry Foster   66  Female      0
249997       Lisa Johnson   63  Female      0
249998  Melissa Fernandez   64    Male      0
249999      Angela Norton   32    Male      0

[250000 rows x 13 columns]>

In [39]:
# Step 1: Calculate the mean return rate for each Product Category and Customer combination
return_prob = (
    df.groupby(['Product Category', 'Customer ID'])['Returns']
    .transform(lambda x: x.mean())
)

# Step 2: Use this return probability to fill missing values in Returns
df['Returns'] = df['Returns'].fillna(return_prob)

# Optional: If there are still missing values, fill with the Product Category average
df['Returns'] = df.groupby('Product Category')['Returns'].transform(lambda x: x.fillna(x.mean()))

In [43]:
df.isnull().sum()

Customer ID              0
Purchase Date            0
Product Category         0
Product Price            0
Quantity                 0
Total Purchase Amount    0
Payment Method           0
Customer Age             0
Returns                  0
Customer Name            0
Age                      0
Gender                   0
Churn                    0
dtype: int64

In [45]:
# Check if the columns are identical
are_columns_identical = df['Customer Age'].equals(df['Age'])

if are_columns_identical:
    print("The Customer Age and Age columns are identical.")
else:
    print("The Customer Age and Age columns are not identical.")

The Customer Age and Age columns are identical.

In [47]:
#Since the Customer Age and Age columns are the same. Deleting Age column.

# Drop the Age column
df.drop(columns=['Age'], inplace=True)

In [49]:
df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Gender,Churn
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,Female,0
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,Female,0
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,Female,0
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,Female,0
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,Female,0

In [51]:
# 1. Find duplicates based on all columns
duplicates_all = df[df.duplicated(keep=False)]
print("Duplicate rows based on all columns:")
print(duplicates_all)

Duplicate rows based on all columns:
Empty DataFrame
Columns: [Customer ID, Purchase Date, Product Category, Product Price, Quantity, Total Purchase Amount, Payment Method, Customer Age, Returns, Customer Name, Gender, Churn]
Index: []

In [53]:
# 2. Find duplicates based on specific columns (e.g., Customer ID, Purchase Date, Product Category)
duplicates_specific = df[df.duplicated(subset=['Customer ID', 'Purchase Date', 'Product Category'], keep=False)]
print("\nDuplicate rows based on Customer ID, Purchase Date, and Product Category:")
print(duplicates_specific)

Duplicate rows based on Customer ID, Purchase Date, and Product Category:
Empty DataFrame
Columns: [Customer ID, Purchase Date, Product Category, Product Price, Quantity, Total Purchase Amount, Payment Method, Customer Age, Returns, Customer Name, Gender, Churn]
Index: []

In [55]:
df.dtypes

Customer ID                int64
Purchase Date             object
Product Category          object
Product Price              int64
Quantity                   int64
Total Purchase Amount      int64
Payment Method            object
Customer Age               int64
Returns                  float64
Customer Name             object
Gender                    object
Churn                      int64
dtype: object

In [57]:
# Average order value per customer
avg_order_value = df.groupby('Customer ID')['Total Purchase Amount'].mean().rename('Avg Order Value')
df = df.merge(avg_order_value, on='Customer ID')

In [59]:
# Frequency of purchases per customer
purchase_frequency = df.groupby('Customer ID').size().rename('Purchase Frequency')
df = df.merge(purchase_frequency, on='Customer ID')

In [63]:
# Total spend per customer
total_spend = df.groupby('Customer ID')['Total Purchase Amount'].sum().rename('Total Spend')
df = df.merge(total_spend, on='Customer ID')

In [65]:
# Calculate return rate per customer
return_rate = df.groupby('Customer ID')['Returns'].mean().rename('Return Rate')
df = df.merge(return_rate, on='Customer ID')

In [67]:
# Earliest purchase date per customer
first_purchase = df.groupby('Customer ID')['Purchase Date'].min().rename('First Purchase Date')
df = df.merge(first_purchase, on='Customer ID')
df['Customer Tenure'] = (pd.to_datetime('today') - df['First Purchase Date']).dt.days

# Drop 'First Purchase Date' if not needed
df.drop(columns='First Purchase Date', inplace=True)

In [69]:
# Convert Gender to binary (1 for Female, 0 for Male, assuming binary data)
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'F' else 0)

# Create age groups (e.g., under 18, 18-25, 26-35, etc.)
bins = [0, 18, 25, 35, 45, 55, 65, 100]
labels = ['<18', '18-25', '26-35', '36-45', '46-55', '56-65', '65+']
df['Age Group'] = pd.cut(df['Customer Age'], bins=bins, labels=labels)

In [71]:
df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Gender,Churn,Avg Order Value,Purchase Frequency,Days Since Last Purchase,Total Spend,Return Rate,Customer Tenure,Age Group
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,0,0,2151.0,5,553,10755,0.8,1578,26-35
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,0,0,2151.0,5,553,10755,0.8,1578,26-35
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,0,0,2151.0,5,553,10755,0.8,1578,26-35
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,0,0,2151.0,5,553,10755,0.8,1578,26-35
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,0,0,2151.0,5,553,10755,0.8,1578,26-35

In [73]:
df.drop(columns=['Days Since Last Purchase'], inplace=True)

In [75]:
df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Gender,Churn,Avg Order Value,Purchase Frequency,Total Spend,Return Rate,Customer Tenure,Age Group
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35

In [93]:
df['Payment Method'].unique()

array(['PayPal', 'Credit Card', 'Cash'], dtype=object)

In [97]:
df['Product Category'].unique()

array(['Home', 'Electronics', 'Books', 'Clothing'], dtype=object)

In [103]:
df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Gender,Churn,Avg Order Value,Purchase Frequency,Total Spend,Return Rate,Customer Tenure,Age Group
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35

In [123]:
from sklearn.preprocessing import OneHotEncoder

# Instantiate OneHotEncoder for each column
encoder_payment = OneHotEncoder(sparse_output=False, drop='first')  # for Payment Method
encoder_product = OneHotEncoder(sparse_output=False, drop='first')  # for Product Category

# One-Hot Encoding for Payment Method
payment_encoded = encoder_payment.fit_transform(df[['Payment Method']])

# One-Hot Encoding for Product Category
product_encoded = encoder_product.fit_transform(df[['Product Category']])

# Convert the result to DataFrames for easier readability
encoded_payment_df = pd.DataFrame(payment_encoded, columns=encoder_payment.get_feature_names_out(['Payment Method']))
encoded_product_df = pd.DataFrame(product_encoded, columns=encoder_product.get_feature_names_out(['Product Category']))

# Concatenate with the original DataFrame (excluding 'Payment Method' and 'Product Category' columns)
df_encoded = pd.concat([df.drop(columns=['Payment Method', 'Product Category']), 
                        encoded_payment_df, 
                        encoded_product_df], axis=1)

# Display the encoded DataFrame
print(df_encoded)

        Customer ID       Purchase Date  Product Price  Quantity  \
0             44605 2023-05-03 21:30:02            177         1
1             44605 2021-05-16 13:57:44            174         3
2             44605 2020-07-13 06:16:57            413         1
3             44605 2023-01-17 13:14:36            396         3
4             44605 2021-05-01 11:29:27            259         4
...             ...                 ...            ...       ...
249995        33807 2023-01-24 12:32:18            436         1
249996        20455 2021-06-04 05:45:25            233         1
249997        28055 2022-11-10 17:11:57            441         5
249998        15023 2021-06-27 14:42:12             44         2
249999         4148 2020-09-07 05:12:19            307         5

        Total Purchase Amount  Customer Age  Returns      Customer Name  \
0                        2427            31  1.00000        John Rivera
1                        2448            31  1.00000        John Rivera
2                        2345            31  1.00000        John Rivera
3                         937            31  0.00000        John Rivera
4                        2598            31  1.00000        John Rivera
...                       ...           ...      ...                ...
249995                   3664            63  0.00000   Gabriel Williams
249996                   4374            66  1.00000       Barry Foster
249997                   5296            63  0.50085       Lisa Johnson
249998                   2517            64  1.00000  Melissa Fernandez
249999                   3634            32  0.00000      Angela Norton

        Gender  Churn  ...  Purchase Frequency  Total Spend  Return Rate  \
0            0      0  ...                   5        10755      0.80000
1            0      0  ...                   5        10755      0.80000
2            0      0  ...                   5        10755      0.80000
3            0      0  ...                   5        10755      0.80000
4            0      0  ...                   5        10755      0.80000
...        ...    ...  ...                 ...          ...          ...
249995       0      0  ...                   1         3664      0.00000
249996       0      0  ...                   1         4374      1.00000
249997       0      0  ...                   1         5296      0.50085
249998       0      0  ...                   1         2517      1.00000
249999       0      0  ...                   1         3634      0.00000

        Customer Tenure  Age Group Payment Method_Credit Card  \
0                  1578      26-35                        0.0
1                  1578      26-35                        0.0
2                  1578      26-35                        1.0
3                  1578      26-35                        0.0
4                  1578      26-35                        0.0
...                 ...        ...                        ...
249995              653      56-65                        0.0
249996             1252        65+                        1.0
249997              727      56-65                        0.0
249998             1228      56-65                        0.0
249999             1522      26-35                        0.0

        Payment Method_PayPal  Product Category_Clothing  \
0                         1.0                        0.0
1                         1.0                        0.0
2                         0.0                        0.0
3                         0.0                        0.0
4                         1.0                        0.0
...                       ...                        ...
249995                    0.0                        0.0
249996                    0.0                        0.0
249997                    0.0                        0.0
249998                    0.0                        0.0
249999                    0.0                        0.0

        Product Category_Electronics  Product Category_Home
0                                0.0                    1.0
1                                1.0                    0.0
2                                0.0                    0.0
3                                1.0                    0.0
4                                0.0                    0.0
...                              ...                    ...
249995                           0.0                    1.0
249996                           1.0                    0.0
249997                           1.0                    0.0
249998                           1.0                    0.0
249999                           0.0                    1.0

[250000 rows x 21 columns]

In [113]:
df_encoded.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Customer Age,Returns,Customer Name,Gender,Churn,Avg Order Value,Purchase Frequency,Total Spend,Return Rate,Customer Tenure,Age Group,Payment Method_Credit Card,Payment Method_PayPal
0,44605,2023-05-03 21:30:02,Home,177,1,2427,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35,0.0,1.0
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35,0.0,1.0
2,44605,2020-07-13 06:16:57,Books,413,1,2345,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35,1.0,0.0
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,31,0.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35,0.0,0.0
4,44605,2021-05-01 11:29:27,Books,259,4,2598,31,1.0,John Rivera,0,0,2151.0,5,10755,0.8,1578,26-35,0.0,1.0

In [101]:
df.drop(columns=['Payment Method Encoded'], inplace=True)

In [77]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [125]:
X = df_encoded.drop(columns=['Churn', 'Customer ID', 'Customer Name', 'Purchase Date','Age Group'])  # Drop irrelevant columns
y = df_encoded['Churn']

In [127]:
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [129]:
# Logistic Regression
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)
y_pred_log_reg = log_reg.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_log_reg))
print(classification_report(y_test, y_pred_log_reg))

Logistic Regression Accuracy: 0.80032
              precision    recall  f1-score   support

           0       0.80      1.00      0.89     40016
           1       0.00      0.00      0.00      9984

    accuracy                           0.80     50000
   macro avg       0.40      0.50      0.44     50000
weighted avg       0.64      0.80      0.71     50000

C:\anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [131]:
# Decision Tree with Hyperparameter Tuning
tree_params = {'max_depth': [5, 10, 15], 'min_samples_split': [2, 10, 20]}
tree = DecisionTreeClassifier(random_state=42)
tree_grid = GridSearchCV(tree, tree_params, cv=5, scoring='accuracy')
tree_grid.fit(X_train, y_train)
best_tree = tree_grid.best_estimator_
y_pred_tree = best_tree.predict(X_test)
print("Best Decision Tree Accuracy:", accuracy_score(y_test, y_pred_tree))
print(classification_report(y_test, y_pred_tree))

Best Decision Tree Accuracy: 0.81416
              precision    recall  f1-score   support

           0       0.81      1.00      0.90     40016
           1       0.86      0.08      0.15      9984

    accuracy                           0.81     50000
   macro avg       0.84      0.54      0.52     50000
weighted avg       0.82      0.81      0.75     50000

In [133]:
# Random Forest with Hyperparameter Tuning
rf_params = {'n_estimators': [50, 100, 150], 'max_depth': [5, 10, 15]}
rf = RandomForestClassifier(random_state=42)
rf_grid = GridSearchCV(rf, rf_params, cv=5, scoring='accuracy')
rf_grid.fit(X_train, y_train)
best_rf = rf_grid.best_estimator_
y_pred_rf = best_rf.predict(X_test)
print("Best Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

Best Random Forest Accuracy: 0.8028
              precision    recall  f1-score   support

           0       0.80      1.00      0.89     40016
           1       1.00      0.01      0.02      9984

    accuracy                           0.80     50000
   macro avg       0.90      0.51      0.46     50000
weighted avg       0.84      0.80      0.72     50000

In [137]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

# Logistic Regression Evaluation
log_reg_accuracy = accuracy_score(y_test, y_pred_log_reg)
log_reg_precision = precision_score(y_test, y_pred_log_reg)
log_reg_recall = recall_score(y_test, y_pred_log_reg)
log_reg_f1 = f1_score(y_test, y_pred_log_reg)

print("Logistic Regression Evaluation:")
print(f"Accuracy: {log_reg_accuracy:.2f}")
print(f"Precision: {log_reg_precision:.2f}")
print(f"Recall: {log_reg_recall:.2f}")
print(f"F1-Score: {log_reg_f1:.2f}")
print(classification_report(y_test, y_pred_log_reg))

# Decision Tree Evaluation
tree_accuracy = accuracy_score(y_test, y_pred_tree)
tree_precision = precision_score(y_test, y_pred_tree)
tree_recall = recall_score(y_test, y_pred_tree)
tree_f1 = f1_score(y_test, y_pred_tree)

print("\nDecision Tree Evaluation:")
print(f"Accuracy: {tree_accuracy:.2f}")
print(f"Precision: {tree_precision:.2f}")
print(f"Recall: {tree_recall:.2f}")
print(f"F1-Score: {tree_f1:.2f}")
print(classification_report(y_test, y_pred_tree))

# Random Forest Evaluation
rf_accuracy = accuracy_score(y_test, y_pred_rf)
rf_precision = precision_score(y_test, y_pred_rf)
rf_recall = recall_score(y_test, y_pred_rf)
rf_f1 = f1_score(y_test, y_pred_rf)

print("\nRandom Forest Evaluation:")
print(f"Accuracy: {rf_accuracy:.2f}")
print(f"Precision: {rf_precision:.2f}")
print(f"Recall: {rf_recall:.2f}")
print(f"F1-Score: {rf_f1:.2f}")
print(classification_report(y_test, y_pred_rf))

C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

Logistic Regression Evaluation:
Accuracy: 0.80
Precision: 0.00
Recall: 0.00
F1-Score: 0.00
              precision    recall  f1-score   support

           0       0.80      1.00      0.89     40016
           1       0.00      0.00      0.00      9984

    accuracy                           0.80     50000
   macro avg       0.40      0.50      0.44     50000
weighted avg       0.64      0.80      0.71     50000


Decision Tree Evaluation:
Accuracy: 0.81
Precision: 0.86
Recall: 0.08
F1-Score: 0.15
              precision    recall  f1-score   support

           0       0.81      1.00      0.90     40016
           1       0.86      0.08      0.15      9984

    accuracy                           0.81     50000
   macro avg       0.84      0.54      0.52     50000
weighted avg       0.82      0.81      0.75     50000


Random Forest Evaluation:
Accuracy: 0.80
Precision: 1.00
Recall: 0.01
F1-Score: 0.02
              precision    recall  f1-score   support

           0       0.80      1.00      0.89     40016
           1       1.00      0.01      0.02      9984

    accuracy                           0.80     50000
   macro avg       0.90      0.51      0.46     50000
weighted avg       0.84      0.80      0.72     50000